<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <header class="sticky-top">
        <%- include('./partials/header.ejs') %>
        <nav>
            <%- include('./partials/nav.ejs') %>
            
        </nav>
    </header>
    <div class="image-concept">

        <div class="container shadow-sm p-3 mb-5 bg-white rounded">
            <h2 class="edit-page"><%= currentUser.userName; %></h2>
            <h3 class="label edit-page">Edit profile</h3>

            <form action="/lico/<%= currentUser.userName; %>/edit?_method=PUT" method="POST" class="form-edit-profile">
            <div class="edit-profile">

                <div class="edit-main">
                    <div class="form-group ">
                        <label for="email">Email</label>
                        <input type="email" name="email" value="<%= currentUser.email; %>" class="form-control">
                    </div>
                    <div class="form-group ">
                        <label for="newPassword">Change password</label>
                        <input type="password" name="newPassword"
                            class="form-control">
                    </div>
                </div>

                <div class="edit-extra">
                    <div class="form-group ">
                        <label for="biography">Bio</label>
                        <textarea name="biography" rows="4" cols="50">
                            <%= currentUser.biography; %>
                        </textarea>
                    </div>
                    <div class="form-group ">
                        <label for="birthDay">Birthday</label>
                        <input type="date" name="birthDay" value="<%= currentUser.birthDay; %>">
                    </div>
                    <div class="form-group ">
                        <label for="location">Where do you live</label>
                        <input type="text" name="location" value="<%= currentUser.location; %>">
                    </div>
                </div>
            </div>
            <div class="edit-profile-button"><input type="submit" value="Update profile" class="btn btn-primary"></div>
            </form>
        </div>

    </div>
    <%- include('./partials/footer.ejs') %>
</body>

</html>