<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <header>
        <%- include('./partials/header.ejs') %>
        <nav>
            <%- include('./partials/nav.ejs') %>
        </nav>
    </header>

    <div class="body-home">
        <div class="weather shadow-lg p-3 mb-5">
            <p class="slogan">SG</p>
            <p class="slogan"><span class="today"></span></p>
           
            <p>	&#127777; <span class="tempt"></span>&#176;C </p>
            <p class="date">(<span class="min-tempt"></span> &#176;C - <span class="max-tempt"></span>&#176;C)</p>
            <p>	&#128167; <span class="humidity"></span>% - &#9729; <span class="clouds"></span>%</p>
           
          
            <p class="slogan"><span class="describe"></span></p>
            
        </div>
        <section class="list-users">
            <% users.forEach(user => { %>
            <div class="each-user">
                <p><img src="<%= user.avata; %>" class="avata-user"><a href="/lico/<%= user.userName; %>">
                        <%= user.userName; %></a></p>
                <div><a href="/lico/<%= user.userName; %>" class="btn-page">Explore</a></div>
            </div>
            <% }) %>
        </section>
    </div>

</body>

</html>