<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <header>
        <%- include('./partials/header.ejs') %>
        <nav>
            <%- include('./partials/nav.ejs') %>
        </nav>
    </header>
    
    <div class="body-home">

        <section class="list-users">
            <% users.forEach(user => { %>
                <div class="each-user">
                    <p><img src="<%= user.avata; %>" class="avata-user"><a href="/lico/<%= user.userName; %>"> <%= user.userName; %></a></p>
                    <div><a href="/lico/<%= user.userName; %>" class="btn-page">Explore</a></div>
                </div>
            <% }) %>
        </section>
    </div>

</body>

</html>