<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <%- include('./partials/header.ejs') %>
    <div class="container">

        <section class="list-users">
            <% users.forEach(user => { %>
                <p><img src="<%= user.avata; %>" class="avata-user"><a href="/lico/<%= user.userName; %>"> <%= user.userName; %></a></p>
            <% }) %>
        </section>
    </div>

</body>

</html>