<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <%- include('./partials/head.ejs') %>
    </head>
</head>

<body>
    <!-- HEADER -->
    <header>
        <%- include('./partials/header.ejs') %>
        <nav>
            <%- include('./partials/nav.ejs') %>
            <div class="icon">
                <% if(name === user.userName) { %>
                <a href="/lico/logout"><img src="https://static.thenounproject.com/png/205237-200.png"
                        class="logout-icon"></a>
                <% } %>
            </div>
        </nav>
    </header>
    <!-- END HEADER -->

    <div class="image-concept">
        <!-- SHOW IMAGE -->
        <div class="image-box">
            <div class="left-box">
                <!-- image -->
                <img src="<%= image.url; %>" class="show-image-main">
                <div class="reaction">
                    <form action="/lico/<%= user.userName; %>/<%= image.id; %>/love" method="POST">
                        <% if(image.love && image.love.findIndex(item => { return item === name}) >= 0) { %>
                        <button type="submit" class="love"><img src="/images/heart.png"></button>
                        <% } else { %>
                        <button type="submit" class="love"><img src="/images/white-heart.png"></button>
                        <% } %>
                    </form>

                    <!-- Show How many people love this image -->
                    <div class="detail-people">
                        <p class="reaction-people">
                            <% if(image.love) { %>
                            <%= image.love.length; %>
                            <% } %>
                            people</p>

                        <!-- SHOW LIST OF PEOPLE LIKE IT -->

                        <% if(image.love) { %>
                        <ul class="list-people">
                            <% image.love.forEach(person => { %>
                            <li><a href="/lico/<%= person; %>"><%= person; %></a></li>
                            <% }) %>
                        </ul>
                        <% } %>
                    </div>
                </div>
            </div>
            <!-- END LEFT BOX -->

            <!-- RIGHT BOX -->
            <div class="right-box">
                <!-- image information -->
                <div class="right-box-top">
                    <a href="/lico/<%= user.userName; %>">
                        <h3><img src="<%= user.avata; %>" class="user-avata"> <%= user.userName; %></h3>
                    </a>

                    <!-- DROPDOWN -->
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ...
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <% if(name === user.userName) { %>

                                <!-- DELETE BUTTON -->
                                <form action="/lico/<%= user.userName; %>/<%= image.id; %>?_method=DELETE" method="POST">
                                    <button class="dropdown-item" type="submit">Delete</button>
                                </form>

                                 <!-- EDIT BUTTON -->
                            <button type="button" class="dropdown-item" data-toggle="modal"
                            data-target="#myModal">Edit</button>
                            
                            <% } %>   
                        </div>
                    </div>
                    <!-- END DROPDOWN -->
                </div>
                <!-- END right-box-top -->
            </div>
            <!-- END RIGHT BOX -->
        </div>
    </div>

</body>

</html>