<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <div class="container">
        <%- include('./partials/header.ejs') %>

        <section class="list-image">
            <% images.forEach(image => { %>
               
                  
                        <div class="index-item">
                            <a href="/lico/<%= image.userName; %>/<%= image.id; %>"><img src="<%= image.url; %>" class="index-image"></a>
                        </div>  
                   
               
            <% }) %>
        </section>
    </div>
</body>

</html>