<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <header class="sticky-top">
        <%- include('./partials/header.ejs') %>
        <nav>
            <%- include('./partials/nav.ejs') %>
        </nav>
    </header>


    <div class="users-images">
        <div class="users">
            <% users.forEach(item => { %>
            <div class="user-column">
                <a href="/lico/<%= item.userName; %>"><img src="<%= item.avata; %>" class="avata-column "></a>
                <div class="title">
                    <a href="/lico/<%= item.userName; %>" class="link-title"><%= item.userName; %></a>
                </div>
            </div>
            <% }) %>
        </div>
        <section class="list-image">
            <% images.forEach(image => { %>
            <div class="index-item shadow-sm p-3 rounded">
                <!-- Trigger the modal with a button -->
                <a><img src="<%= image.url; %>" class="index-image" data-toggle="modal"
                        data-target="#<%= image.id; %><%= image.userName; %>"></a>

                <!-- SHOW INFO -->
                <div class="bottom-image">
                    <div>
                        <!-- Love reaction Button -->

                        <form class="form-love" action="/api/<%= image.userName; %>/<%= image.id; %>/love" method="GET">
                            <button type="submit" class="love-button" id="<%= image.userName; %>&button">
                                <% if(image.love && image.love.findIndex(item => { return item === name}) >= 0) { %>
                                <img src="/images/heart.png" id="<%= image.id; %>-img-love">
                                <% } else { %>
                                <img src="/images/white-heart.png" id="<%= image.id; %>-img-love">
                                <% } %>
                            </button>
                        </form>
                        <p class="form-love"><span class="<%=image.id; %>-love">
                                <% if(image.love) { %>
                                <%= image.love.length; %>
                                <% } %>
                            </span></p>
                        <p class="form-love"><img src="/images/comment.png">

                            <span class="<%= image.id; %>-comment">
                                <% if(image.comments) { %>
                                <%= image.comments.length; %>
                                <% } %>
                            </span></p>
                        <!-- END -->
                    </div>
                    <a href="/lico/<%= image.userName; %>"><%= image.userName; %></a>

                </div>
                <!-- END SHOW INFO -->

                <!-- Modal -->
                <div class="modal fade" id="<%= image.id; %><%= image.userName; %>" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <!-- User Name -->
                                <a href="/lico/<%= image.userName; %>">
                                    <h3><img src="<%= image.avataUser; %>" class="user-avata">
                                        <%= image.userName; %></h3>
                                </a>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>

                            </div>
                            <!-- MODAL BODY -->
                            <div class="modal-body">
                                <div>

                                    <!-- image information -->

                                    <% if(!image.updatedAt) { %>
                                    <a href="/lico/<%= image.userName; %>/<%= image.id; %>" class="date"><i>
                                            <%= moment(image.createdAt).fromNow(); %></i></a>
                                    <%} else { %>
                                    <a href="/lico/<%= image.userName; %>/<%= image.id; %>" class="date"><i>Edited:
                                            <%= moment(image.updatedAt).fromNow(); %></i></a>
                                    <% } %>


                                    <!-- image Description -->
                                    <p><%= image.description; %></p>

                                    <!-- image -->
                                    <img src="<%= image.url; %>" class="show-image">

                                    <!-- REACTION -->
                                    <div class="reaction">

                                        <form class="white-love"
                                            action="/api/<%= image.userName; %>/<%= image.id; %>/love" method="GET">
                                            <% if(image.love && image.love.findIndex(item => { return item === name}) >= 0) { %>
                                            <button type="submit" id="<%= image.userName; %>" class="love"><img
                                                    id="<%= image.id; %>" src="/images/heart.png"></button>

                                            <% } else { %>

                                            <button type="submit" id="<%= image.userName; %>" class=" love"><img
                                                    id="<%= image.id; %>" src="/images/white-heart.png"></button>
                                            <% } %>
                                        </form>



                                        <!-- Show How many people love this image -->
                                        <div class="detail-people">
                                            <p class="reaction-people">
                                                <span class="<%= image.id; %>-love">
                                                    <% if(image.love) { %>
                                                    <%= image.love.length; %>
                                                    <% } %>
                                                </span>
                                                people</p>

                                            <!-- SHOW LIST OF PEOPLE LIKE IT -->

                                            <ul class="list-people <%= image.id; %>-list">
                                                <% if(image.love) { %>
                                                <% image.love.forEach(person => { %>
                                                <li><a href="/lico/<%= person; %>" class="all-people"><%= person; %></a>
                                                </li>
                                                <% }) %>
                                                <% } %>
                                            </ul>

                                        </div>

                                    </div>
                                    <!-- END REACTION-->

                                    <!-- write COMMENT -->
                                    <form action="/api/<%= image.userName; %>/<%= image.id; %>/comment" method="GET"
                                        class="form-comment">
                                        <label class="current-user"><%= name; %></label>
                                        <input type="text" name="comment" placeholder="write a comment"
                                            class="write-comment" id="<%= image.id; %>-write">
                                        <div class="send-button"><input type="submit" value="send" class="send"
                                                id="<%= image.userName; %>&<%= image.id; %>"></div>
                                    </form>

                                    <!-- SHOW ALL COMMENTS -->
                                    <div class="all-comments" id="<%= image.id; %>-allComments">
                                        <% if(image.comments) { %>
                                        <% image.comments.forEach(item => { %>
                                        <div class="comment">
                                            <% if(!item.updatedAt) { %>
                                            <p class="date"><i><%= moment(item.createdAt).fromNow(); %></i></p>
                                            <% } else { %>
                                            <p class="date"><i><%= moment(item.updatedAt).fromNow(); %></i></p>
                                            <% } %>
                                            <p><img src="<%= item.avataOfUserComment; %>" class="avata-comment"><a
                                                    href="/lico/<%= item.userComment; %>"><%= item.userComment; %></a>
                                                <%= item.content; %>
                                            </p>
                                        </div>

                                        <% }) %>
                                        <% } %>
                                    </div>


                                </div>
                            </div>
                            <!-- END MODAL BODY -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- END modal -->
            </div>
            <% }) %>
        </section>
    </div>

</body>

</html>