<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <div class="container">
        <%- include('./partials/header.ejs') %>

        <section class="list-image">
            <% users.forEach(user => { %>
                <% if(user.images) { %>
                    <% user.images.forEach(item => { %>
                        <div class="index-item">
                            <a href="/lico/<%= user.userName; %>/<%= item.id; %>"><img src="<%= item.url; %>" class="index-image"></a>
                        </div>  
                    <% }) %>
                <% } %>
            <% }) %>
        </section>
    </div>
</body>

</html>