<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <header>
        <nav>
            <a href="/lico">Home</a>
            <% if(name === user.userName) { %>
                <a href="/lico/logout">Log out</a>
            <% } %>
             
        </nav>
    </header>
    <div class="container">
        <div class="info">
            <div class="avata">
                <img src="<%= user.avata; %>" class="img-avata">
                <% if(name === user.userName) { %>
                <form action='/lico/<%= user.userName; %>/avata' method='POST' enctype="multipart/form-data">
                    <div class="form-group">
                      <input type="file" name="avata" class="choose-avata">
                    </div>
                    <input type="submit" class="btn btn-primary change-avata" value="Change Avata">
                  </form>
                  <% } %>
            </div>
            

            <div class="user-info">
                <h2><%= user.userName; %></h2>
                <p>Gender: <%= user.gender; %></p>
                <p>Joined at: <%= user.createdAt; %></p>
                <% if(name === user.userName) { %>
                <a href="/lico/<%= user.username; %>/edit">Edit profile</a>
                <% } %>
            </div>
        </div>
        <p>You have no image. Let's upload image</p>

    </div>
</body>

</html>